[submodule "megatron-lm"]
	path = megatron-lm
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "DeepSpeed"]
	path = DeepSpeed
	url = https://github.com/microsoft/DeepSpeed.git
[submodule "distributed-deep-learning-examples"]
	path = distributed-deep-learning-examples
	url = https://code.ornl.gov/olcf-analytics/summit/distributed-deep-learning-examples.git
[submodule "megatron-lm-1.7"]
	path = megatron-lm-1.7
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "DeepSpeedExamples"]
	path = DeepSpeedExamples
	url = https://github.com/microsoft/DeepSpeedExamples.git
[submodule "megatron-lm-v11"]
	path = megatron-lm-v11
	url = https://github.com/NVIDIA/Megatron-LM.git
